extends layout

block content

  .header.div_style
    .headline
      h1 Administration
    .meny
      ul
        li
          a(href='#') Boka bil
        li
          a(href='#') Bilar till besiktning(5)
        li
          a(href='#')
            | user
            br
            | logga ut
  // ----------------- sök fordon
  h2#headline_add_remove Lägg till / Ändra fordon
  br
  h2#search_headline Sök fordon
  .search.div_style
      h2#reg_info_headline Registreringsnummer
      form(method='post')
        input#search_text(type='text' name="search_text" value='#{bilar.regnum}')
        span.req_star *
        button#search_button Sök
  // -----------------  fordon

  .vehicle_container
    form(action='/fordon/add' method='post')
      h2#vehicle_headline Fordon
      .vehicle.div_style
        .vehicle_left
          | Märke :
          input(type='text' placeholder='Märke' value='#{bilar.brand}' name='brand')
          span.req_star *
          br
          |         Modell :
          input(type='text', placeholder='Modell' value='#{bilar.model}' name='model')
          span.req_star *
          br
          |         Typ :
          select(name='type')
            option(value='Sedan') Sedan
            option(value='Kombi') Kombi
            option(value='Pickup') Pickup
            option(value='Lätt lastbil') Lätt lastbil
            option(value='Lastbil') Lastbil
          span.req_star *
        .vehicle_right
          | Årsmodell :
          input(type='text', placeholder='Årsmodell' value='#{bilar.year}' name='year')
          span.req_star *
          br
          |         Reg-info :
          input(type='text', placeholder='Reg-info' value='#{bilar.regnum}' name='regnum')
          span.req_star *
          br
          |         Antal passagerare :
          input(type='text', placeholder='Antal passagerare' value='#{bilar.passenger}' name='passenger')
          span.req_star *
          br
      .option.div_style
        h2#option_headline Tillval
        each funk in funklista
          label= funk.name
          input(type='checkbox' value=funk.id name='tillval')
      .action_button
        | status : Bokningsbar
        span.data_service
          input(type='date' name='serviceDate')
          input(type='checkbox' name='service')
          | Service
        button.button_style Ta bort
        button.button_style Uppdatera
        button.button_style Lägg till


  h2 Besiktningsinformation
  .inspection_info
  each bil in besikt_bilar
    .car
      span.reg_nr  p #{bil.dateFrom)
      span.date_info
        input(type='date' value='#{bil.dateFrom}')
      span
        button.button_style Spara
    .car
      span.reg_nr ABC 123
      span.date_info 30 / 4 / 2016
      span
        button.button_style Spara
  h2 Serviceinformation
  .service_info
    .car
      span.reg_nr DEF 456
      span.date_info 18 / 3 / 2016
      span
        button.button_style Spara
    .car
      span.reg_nr GHI 789
      span.date_info 14 / 7 / 2016
      span
        button.button_style Spara
  if(carErr)
    div(class='doesExist')= carExists
  if(carAdd)
    div(class='carAdd')= carAdded
